<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Detect beacons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="beacons.length>0">

    <ion-item *ngFor="let detectedBeacon of beacons">

      <ion-label>
        Major : {{detectedBeacon.major}}<br />
        Minor : {{detectedBeacon.minor}}<br />
        Proximity : {{detectedBeacon.proximity}}<br />
        RSSI : {{detectedBeacon.rssi}}<br />
      </ion-label>

    </ion-item>

  </ion-list>
</ion-content>

