<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">
      <ion-icon [(ngModel)]="username" name="person"></ion-icon>
      Nom d'utilisateur
    </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      <ion-icon [(ngModel)]="password" name="lock"></ion-icon>
      Mot de passe
    </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      <ion-icon [(ngModel)]="mail" name="mail"></ion-icon>
      E-Mail
    </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <app-client-list></app-client-list>

  <ion-button expand="block" class="ion-margin-top" fill="outline" color="dark">
    <ion-icon slot="start" name="star" (click)="sendRegister()"></ion-icon> S'enregistrer
  </ion-button>
</ion-content>
