<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">
      <ion-icon name="person"></ion-icon>
      Nom d'utilisateur
    </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      <ion-icon name="lock"></ion-icon>
      Mot de passe
    </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      <ion-icon name="mail"></ion-icon>
      E-Mail
    </ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" fill="outline" color="dark">
    <ion-icon slot="start" name="star"></ion-icon> Se connecter
  </ion-button>
</ion-content>
