<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="https://esir.univ-rennes1.fr/sites/esir.univ-rennes1.fr/files/esir_0.png">
    <ion-button expand="block" href="https://esir.univ-rennes1.fr">Lien vers le site</ion-button>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Comment se rendre à l'ESIR</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="/assets/shapes.svg" alt=""/>
    </ion-card-content>
  </ion-card>

  <ion-text color="primary">
    <h1 class = 'consigne' >Déplacez-vous à l'intérieur du bâtiment pour être notifié !</h1>
  </ion-text>

</ion-content>
