<ng-container *ngIf="!dataService.loading">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <ion-label style="text-align: center; line-height: 45px;">
          Beacon {{dataService.currentBeacon.name}}
        </ion-label>
        <ion-button (click)="deleteBeacon()" fill="clear" class="ion-float-right">
          <ion-icon slot="icon-only" name="trash" color="dark">
          </ion-icon>
        </ion-button>
        <ion-button (click)="presentAddModal()" fill="clear" class="ion-float-right">
          <ion-icon slot="icon-only" color="dark" name="create">
          </ion-icon>
        </ion-button>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label color="medium">
          UUID :
        </ion-label>
        <ion-label>
          {{dataService.currentBeacon.uuid}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="medium">
          Major :
        </ion-label>
        <ion-label>
          {{dataService.currentBeacon.major}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="medium">
          Minor :
        </ion-label>
        <ion-label>
          {{dataService.currentBeacon.minor}}
        </ion-label>
      </ion-item>
    </ion-list>

  </ion-content>

</ng-container>
